{% extends "::base.html.twig" %}
{% block title %}Contact US{% endblock %}
{% block body %}
    <form action="#" method="post" novalidate>
        {{ form_widget(form) }}
        <button type="submit">Send </button>
    </form>
{% endblock %}
